body {
  background-color: #f0f0f0;
  font-family: "Poppins", "Sans-serif";
  margin: 0;
  padding: 0;
}

/* Header css */

header {
  background-color: #d3d3d3;
  padding: 2px 0;
  width: 100%;
  opacity: 0.7;
}
nav {
  background-color: #808080;
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
nav a {
  text-decoration: none;
  color: #0b0b0c;
}
nav a:hover {
  color: #d3d3d3;
}
nav a:not(:last-child) {
  margin-right: 25px;
}
header h4 {
  text-align: center;
  font-size: 25px;
}

/* main css */

main {
  display: flex;
  padding: 20px;
  gap: 10px;
  box-sizing: border-box;
}
#content {
  flex-basis: 60%;
  background-color: rgb(166, 170, 173);
  height: 100vh;
  padding: 25px;
  box-sizing: border-box;
  border-radius: 3%;
  overflow: auto;
}
#a1 {
  background-color: #d3d3d3;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 2%;
}
#a2 {
  background-color: #808080;
  overflow: auto;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 2%;
}
#a3 {
  background-color: rgb(87, 68, 5);
}
aside {
  flex-basis: 40%;
  box-sizing: content-box;
  background-color: #808080;
  padding: 10px;
  height: 100vh;
  border-radius: 3%;
}
.image-place {
  display: flex;
  justify-content: center;
}

aside img {
  width: 200px;
  height: 200px;
  padding: 5px;
  border-radius: 50%;
  object-fit: cover;
}
.biodata h3 {
  text-align: center;
}

/* Footer */
footer {
  background-color: #0b0b0c;
  color: #f0f0f0;
  text-align: center;
}

/* Responsive */
@media (max-width: 768px) {
  main {
    flex-direction: column;
    flex-flow: column-reverse;
  }

  .content,
  aside {
    flex-basis: 100%;
  }
}
